# Dependencies
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Build output
.next
out
dist

# Local env files
.env
.env*.local

# OS / editor junk
.DS_Store
Thumbs.db
.vscode
.idea

# Git
.git
.gitignore